<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mirposudy.bonuses" version="1.1.0" android-versionCode="8" ios-CFBundleVersion="8" ios-CFBundleIdentifier="com.mirposudy.bonuses" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Мир посуды</name>
    <description>Мир посуды - программа лояльности</description>
    <author email="d.grebenyuk30@gmail.com" href="https://bonus.мирпосуды27.рф/">
        Отдел разработки ПО - Мир посуды
    </author>
    <content src="index.html" />
    <allow-navigation href="tel:*" />
    <access origin="tel:*" launch-external="yes" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    
    <platform name="android">
        <resource-file src="res/values/colors.xml" target="app/src/main/res/values/colors.xml"/>
        <preference name="AndroidXEnabled" value="true" />
        <resource-file src="res/google-services.json" target="app/google-services.json" />
        <resource-file src="res/drawable/drawable-anydpi-v24/notification_icons.xml" target="app/src/main/res/drawable-anydpi-v24/notification_icons.xml" />
        <resource-file src="res/drawable/drawable-hdpi/notification_icons.png" target="app/src/main/res/drawable-hdpi/notification_icons.png" />
        <resource-file src="res/drawable/drawable-mdpi/notification_icons.png" target="app/src/main/res/drawable-mdpi/notification_icons.png" />
        <resource-file src="res/drawable/drawable-xhdpi/notification_icons.png" target="app/src/main/res/drawable-xhdpi/notification_icons.png" />
        <resource-file src="res/drawable/drawable-xxhdpi/notification_icons.png" target="app/src/main/res/drawable-xxhdpi/notification_icons.png" />
        <icon src="icons/36x36.png" density="ldpi" />
        <icon src="icons/48x48.png" density="mdpi" />
        <icon src="icons/72x72.png" density="hdpi" />
        <icon src="icons/96x96.png" density="xhdpi" />
        <icon src="icons/144x144.png" density="xxhdpi" />
        <icon src="icons/192x192.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="icons/180x180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="icons/60x60.png" width="60" height="60" />
        <icon src="icons/120x120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="icons/76x76.png" width="76" height="76" />
        <icon src="icons/152x152.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="icons/20x20.png" width="20" height="20" />
        <icon src="icons/40x40.png" width="40" height="40" />
        <icon src="icons/80x80.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="icons/57x57.png" width="57" height="57" />
        <icon src="icons/114x114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="icons/72x72.png" width="72" height="72" />
        <icon src="icons/144x144.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="icons/167x167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="icons/29x29.png" width="29" height="29" />
        <icon src="icons/58x58.png" width="58" height="58" />
        <icon src="icons/87x87.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="icons/50x50.png" width="50" height="50" />
        <icon src="icons/100x100.png" width="100" height="100" />
        <!-- iTunes Marketing Image -->
        <icon src="icons/1024x1024.png" width="1024" height="1024" />
    </platform>
	
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/512x512.xml" />
        <!-- 
        <splash src="res/screen/android/splash-port-200-320.png" density="hdpi"/>
        <splash src="res/screen/android/splash-port-320-480.png" density="ldpi"/>
        <splash src="res/screen/android/splash-port-480-800.png" density="mdpi"/>
        <splash src="res/screen/android/splash-port-720-1280.png" density="xhdpi"/>
        <splash src="res/screen/android/splash-port-960-1600.png" density="xxhdpi"/>

        <splash src="res/screen/android/splash-land-320-200.png" density="land-ldpi" />
        <splash src="res/screen/android/splash-land-480-320.png" density="land-hdpi" />
        <splash src="res/screen/android/splash-land-800-480.png" density="land-mdpi" />
        <splash src="res/screen/android/splash-land-1280-720.png" density="land-xhdpi" />
        <splash src="res/screen/android/splash-land-1600-960.png" density="land-xxhdpi" />
        <splash src="res/screen/android/splash-land-1920-1280.png" density="land-xxxhdpi" />

        <splash src="res/screen/android/splash-port-200-320.png" density="port-ldpi" />
        <splash src="res/screen/android/splash-port-320-480.png" density="port-hdpi" />
        <splash src="res/screen/android/splash-port-480-800.png" density="port-mdpi" />
        <splash src="res/screen/android/splash-port-720-1280.png" density="port-xhdpi" />
        <splash src="res/screen/android/splash-port-960-1600.png" density="port-xxhdpi" />
        <splash src="res/screen/android/splash-port-1280-1920.png" density="port-xxxhdpi" /> 
        -->
    </platform>

    <platform name="ios">
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comcom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anycom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
    </platform>

    <!-- Android -->
    <preference name="ShowSplashScreenSpinner" value="false"/>      <!-- Android - показывать индикатор загрузки при старте приложения -->
    <!-- <preference name="SplashScreenSpinnerColor" value="white" /> --> <!-- Android - цвет индикатора загрузки при старте приложения -->
    <preference name="SplashMaintainAspectRatio" value="true" />    <!-- Android - сохранять пропорции картинки на экране загрузки -->
    <preference name="SplashShowOnlyFirstTime" value="false" />     <!-- Android - показывать картинку на экране загрузки единожды -->
    
    <!-- iOS -->
    <preference name="BackgroundColor" value="#FFFFFF" />           <!-- iOS -->
    <preference name="DisallowOverscroll" value="true" />           <!-- iOS -->
    <preference name="allowFileAccessFromFileURLs" value="true" />           <!-- iOS -->
    <preference name="allowUniversalAccessFromFileURLs" value="true" />           <!-- iOS -->
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />
    
</widget>
