<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782598422054-1omrh0j8bi6o5068vcfmnvvf4gfmb9bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782598422054-1omrh0j8bi6o5068vcfmnvvf4gfmb9bi</string>
	<key>API_KEY</key>
	<string>AIzaSyCEeVFg2uaZfc_0Tv_WHm121sZx-gOgQH4</string>
	<key>GCM_SENDER_ID</key>
	<string>782598422054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stolica.bonuses</string>
	<key>PROJECT_ID</key>
	<string>indriver-148622</string>
	<key>STORAGE_BUCKET</key>
	<string>indriver-148622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782598422054:ios:30227d020fb9d1f9dcb0e7</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false></false>
</dict>
</plist>