.registration__cont {
    
    & > div {
       position: relative;
       width: 97%;
    }
}
.registration__inputPass {
    position: relative;
}

.system-reg {
    margin: 1rem 0 3rem 0;
}

.registration__confirm {
    padding-top: 5rem;
}